
@{
    ViewBag.Title = "WebApiMap";
}

<h2>WebApiMap</h2>

<!---Map--->
<div id="map" style="height:500px; width:100%;"></div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy2Be5KUG5TAfBB8O7O80hjLbm2yzvHYQ&callback=initMap">
</script>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = { lat: -36.848461, lng: 174.763336 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>


